+++
title = "Kubeprober"
linkTitle = "Kubeprober"

+++

{{< blocks/cover title="Welcome to Kubeprober!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://docs.erda.cloud/1.2/manual/eco-tools/kubeprober/guides/install.html" target="_blank">
		Quick Start <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/erda-project/kubeprober" target="_blank">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Large-scale Kubernetes cluster diagnosis system, using cloud-native methods to diagnose large-scale cloud-native systems</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
KubeProber is a diagnostic tool designed for large-scale Kubernetes clusters. It is used to perform diagnostic items in the kubernetes cluster to prove whether the cluster's functions are normal. It uses a cloud-native way to organize and run your diagnostic items, and supports user customization. Diagnostic items, and relying on the underlying cluster management architecture to achieve unified operation and maintenance management for large-scale Kubernetes clusters{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fab fa-soundcloud" title="Cloud Native !" url="https://docs.erda.cloud/1.2/manual/eco-tools/kubeprober/concepts/cluster_crd.html" %}}
The core logic is implemented by Operator, providing complete Kubernetes API compatibility.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-th" title="Large Scale !" url="https://docs.erda.cloud/1.2/manual/eco-tools/kubeprober/concepts/arch.html" %}}

The Master/Agent architecture is used to manage a large number of clusters, and the number of clusters supported based on the WebSocket connection theory is unlimited.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Open Source !" url="https://github.com/erda-project/kubeprober/blob/master/CONTRIBUTING.md" %}}
Follow the Apache 2.0 license, if you want to contribute to this project, please refer to Contributing to KubeProber.
{{% /blocks/feature %}}


{{< /blocks/section >}}

